#bd-docs-nav.collapse.d-md-block
    nav.bd-links(aria-label='Main navigation')
        
        h6.bd-heading Main Pages
        a.bd-toc-link(href='/' )            
            .bd-toc-item
                i.fas.fa-solar-panel
                | Dashboard

        a.bd-toc-link(href='/matches' )
            .bd-toc-item
                i.fas.fa-users
                | Matches

        a.bd-toc-link(href='/leagues' )
            .bd-toc-item
                i.fas.fa-users
                | Leagues